.checkmark-btn {
    border: .125em solid var(--font-color-lighter);
    width: 1.75em;
    aspect-ratio: 1/1;
    font-size: initial;
    border-radius: 50%;

    transition: all .15s;
}

.checkmark-btn svg {
    height: 70%;
    width: 70%;
}

.checkmark-btn:hover {
    background-color: #00000011;
}

.checkmark-btn:active {
    background-color: #00000022;
}

.checkmark-btn .checkmark {
    fill: #00000000;
}

.checkmark-btn.checked {
    background-color: var(--primary-color-1);
    border-color: var(--primary-color-1);
}

.checkmark-btn:hover.checked {
    background-color: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

.checkmark-btn:active.checked {
    background-color: var(--primary-color-3);
    border-color: var(--primary-color-3);
}

.checkmark-btn.checked .checkmark {
    fill: #fff;
}