
.btn-delete {
    width: 2.5em;
    aspect-ratio: 1/1;
}

.btn-delete svg {
    width: 50%;
    height: 50%;
}

.btn-delete svg {
    fill: var(--font-color-light-3);
}

.btn-delete:hover {
    svg {
        fill: var(--primary-color-1);
    }
}

.btn-delete:active {
    svg {
        fill: var(--primary-color-2);
    }
}