.page-footer {
    background-color: var(--primary-color-5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0em;
}

.footer-link:hover, .footer-link:focus {
    text-decoration: underline;
}

.footer-text {
    font-size: .9em;
    margin-inline: 1em;
    text-align: center;
}