.btn-star {
    width: 2em;
    aspect-ratio: 1/1;
    font-size: initial;
}   

.btn-star-svg {
    width: 70%;
    height: 70%;
}

.btn-star-path {
    fill: transparent;
    stroke: var(--font-color-light-3);
    stroke-width: .5em;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all .15s, transform .25s;
}

.btn-star:hover .btn-star-path {
    fill: #00000011;
}

.btn-star:active .btn-star-path {
    fill: #00000022;
    transform: scale(.9) translateX(5%) translateY(5%);
}

.btn-star.btn-star-toggled .btn-star-path {
    fill: var(--primary-color-1);
    stroke: var(--primary-color-1);
}

.btn-star:hover.btn-star-toggled .btn-star-path {
    fill: var(--primary-color-2);
    stroke: var(--primary-color-2);
}

.btn-star:active.btn-star-toggled .btn-star-path {
    fill: var(--primary-color-3);
    stroke: var(--primary-color-3);
}

