
.task-form {
    grid-column: span 3;
    column-gap: inherit;
    row-gap: .25em;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: subgrid;

    
}

.task-fieldset {
    grid-column: span 3;

    display: grid;
    grid-template-columns: subgrid;
}

.task-fieldset {
    border-top: 1px solid #00000011;
    padding: 1em 0;
}

.task-form-icon {
    grid-column: 1/2;
    width: 1.5em;
    aspect-ratio: 1/1;
}

.task-form-icon > svg {
    width: 70%;
    height: 70%;
    fill: var(--font-color-light-3);

    transition: fill .25s;
}

.icon-tag > svg {
    width: 80%;
    height: 80%;
}

.icon-title > svg {
    width: 55%;
    height: 55%;
}

.icon-title {
    font-size: 1.3em;
    font-style: bold;
    color: var(--font-color-light-3);
}

.task-form-label {
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: .5em;

    font-size: .9em;
    color: var(--font-color-lighter);

    position: relative;
}

.task-title-input {
    align-self: stretch;
}

.task-field-label-text {
    transition: color .25s;
}

.task-fieldset:hover svg, .task-fieldset:active svg {
    fill: var(--primary-color-1);
}

.task-fieldset:hover .task-field-label-text, .task-fieldset:active .task-field-label-text {
    color: var(--primary-color-1);
}