.tasks-list {
    list-style: none;
    padding: 0;
}

.tasks-view {
    background-color: transparent;
    height: calc(100vh - var(--total-header-height));
    overflow-Y: auto;
}

.tasks-view-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding-inline: var(--tasks-column-gap);
    padding-bottom: 3em;

    overflow-Y: auto;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.card-btn {
    border: none;
    cursor: pointer;
    transition: background-color 125ms;
}

.card-btn:hover {
    background-color: #eee;
}

.card-btn:active {
    background-color: #dedede;
}

.no-tasks-message {
    text-align: center;
    color: var(--font-color-light);
    margin-top: 2em;
}

.tasks-view-heading {
    color: var(--font-color-light);
    margin-block: .5em;
    font-size: 1.5em;
}

.tasks-view-heading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}

