.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
}

.card {
    background-color: #fff;
    border-radius: .5em;
    padding: 1.5em 2em;
    margin: 0;
    box-shadow: 0px 4px 6px 0px #00000011;
}

.task-title {
    flex: 1 1 auto;
}

.task-done .task-title {
    text-decoration: line-through;
    color: var(--font-color-lighter);
}
/*
.task-important .task-title {
    color: orange;
}
*/
.task-buttons {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
}
