
.task-new-input-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto 1fr;
}

/*TEMPORARY BELOW*/
.task-new-icon {
    display: flex;
    width: 1.5em;
    aspect-ratio: 1/1;
    background-color: #3b4ba1;

    grid-column: 1/2;
}

.input-placeholder {
    min-height: 5em;
    background-color: #eccca7;

    grid-column: 2/3;
}

.c1,.c2,.c3 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
}

.c2 {
    min-height: 10em;
}





