.task-new {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 1em;
    padding: 0 1em;

    transition: background-color .25s;
}

@media (min-width: 30em) {
    .task-new {
        column-gap: 1.5em;
        padding: 0 1.5em;    
    }
}

.task-new-btn {
    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;
    grid-column: span 3;
    padding: 1em 0;    
    align-items: center;
    justify-items: center;
}

.task-new-btn:hover, .task-new-btn:active {
    svg {
        fill: var(--primary-color-1);
    }

    .task-new-btn-text {
        color: var(--primary-color-1);
    }
}

.error-message {
    color: rgba(255, 49, 49, 0.637);
    font-size: 0.8em;
}

.task-new-icon {
    width: 1.667em;
    aspect-ratio: 1/1;
    grid-column: 1/2;
}

.task-new-btn-text {
    grid-column: span 2;
    justify-self: start;
}

.task-new-icon svg {
    width: 70%;
    height: 70%;
    fill: var(--font-color-lighter);
}

.task-new.expanded {
    box-shadow: 0px 4px 6px 0px #00000011, 0px 0px 4px 0px #1975ff55;
}

.task-new:hover {
    background-color: #f8f8f8;
}

.task-new-visible {
    grid-row: 1/2;
    grid-column: span 3;
    column-gap: inherit;

    display: grid;
    grid-template-columns: subgrid;
}



.task-new-hidden {
    grid-row: 2/3;
    grid-column: span 3;
    column-gap: inherit;

    display: grid;
    grid-template-rows: 0fr;
    grid-template-columns: subgrid;
    opacity: 0;
    padding-block: 0;
    padding-inline: 0;

    transition: padding-block .25s, grid-template-rows .25s, opacity .5s;
}

.task-new-hidden-content {
    overflow-y: hidden;
    grid-column: span 3;
    column-gap: inherit;

    display: grid;
    grid-template-columns: subgrid;
}

.task-new.expanded .task-new-hidden{
    grid-template-rows: 1fr;
    opacity: 1;
    padding-block: 1em;
}