.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
}

.card {
    background-color: #fff;
    border-radius: .5em;
    margin: 0;
    padding: .25em 1em;
    box-shadow: 0 .25em .334em 0 #00000011;
}

.task-title {
    flex: 1 1 auto;
}

.task-done .task-title {
    text-decoration: line-through;
    color: var(--font-color-lighter);
}

.task-buttons {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
}
