.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: .5em;
    padding: 1.5em 2em;
    margin: 1em;
    box-shadow: 0px 0px 10px 2px #00000011;
}

.done-task {
    text-decoration: line-through;
    color: var(--font-color-lighter);
}