.tasks-sidebar {
    --sidebar-item-space: 2em;
    --sidebar-btn-margin: .5em;
    --sidebar-exterior: 2em;

    grid-column: 1/2;
    background-color: #fff;
    padding-block: 1em;

    box-shadow: 4px 0px 4px -2px #00000011;

    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: auto auto auto;
    column-gap: var(--sidebar-item-space, 2em);
    transition: transform .15s ease-in-out;

    &.sidebar-collapsed:not(.sidebar-mobile) {
        grid-template-columns: auto 0fr 0fr;
        column-gap: 0;
    }

    &.sidebar-mobile {
        position: absolute;
        top: 0em;
        bottom: 0em;
        transform: translateX(0%);
        z-index: 1;
    }

    &.sidebar-mobile.sidebar-collapsed {
        transform: translateX(-100%);
        box-shadow: 0;
    }
}

.sidebar-top-controls {
    grid-column: span 3;
    grid-row: 1/2;
    column-gap: inherit;

    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.sidebar-expand-btn {
    grid-column: 1/2;
    margin-inline: var(--sidebar-btn-margin);
}

.sidebar-top-controls-label {
    font-weight: bold;
    grid-column: 2/3;
}

.tasks-sidebar-nav {
    grid-column: span 3;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;
}

.sidebar-list {
    grid-column: span 3;

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit
}

.sidebar-list-item {
    grid-column: span 3;

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;

    &:hover {
        background-color: var(--primary-color-a-1);
    }

    &:active {
        background-color: var(--primary-color-a-2);
    }
}

.sidebar-item-btn {
    grid-column: span 3;
    padding: .75em 0;

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;

    align-items: center;
}

.sidebar-item-icon {
    width: 1em;
    aspect-ratio: 1/1;
    fill: var(--font-color-lighter);
    align-self: center;
    justify-self: center;

    grid-column: 1/2;
    padding-block: .25em;
}

.sidebar-item-text {
    grid-column: 2/3;
    text-align: start;
    white-space: nowrap;
}

.sidebar-item-number {
    grid-column: 3/4;
    font-size: 0.9em;
    padding-right: var(--sidebar-exterior);
}

.selected-item {
    background-color: var(--primary-color-a-3);
    
    &:hover {
        background-color: var(--primary-color-a-2);
    }

    &:active {
        background-color: var(--primary-color-a-1);
    }

    & svg {
        fill: var(--primary-color-4);
    }

    .sidebar-item-text, .sidebar-item-number {
        color: var(--primary-color-4);
    }
}

.sidebar-separator {
    border: 0;
    margin-block: 1em;
    grid-column: span 3;
    width: 90%;
    height: .1em;
    background-color: #00000016;
}

.sidebar-separator-controls {
    grid-row: 2/3;
}

