.task-expandable {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2em 1fr 2em;
    column-gap: 1.5em;
    padding: 0 1.5em;
    
    opacity: 1;
    transform: translateY(0);

    /*transition: background-color .25s, opacity .25s, translate .25s;*/
    transition: all .25s;

}

.task-expandable:hover {
    background-color: #f4f4f4;
}

.task-expandable:active {
    background-color: #f0f0f0;
}

.task-expandable-visible {
    grid-row: 1/2;
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;
}

.task-buttons {
    grid-column: 3/4;
}

.task-expandable-hidden {
    grid-row: 2/3;
    grid-column: span 3;
    column-gap: inherit;
    
    
    /*padding-inline: 1em;*/
    
    display: grid;
    grid-template-rows: 0fr;
    grid-template-columns: subgrid;
    opacity: 0;
    padding-block: 0;
    padding-inline: 0;

    transition: padding-block .25s, grid-template-rows .25s, opacity .5s;
}

.task-expandable.expanded {
    box-shadow: 0px 4px 6px 0px #00000011, 0px 0px 4px 0px #1975ff55;
}

.task-expandable.expanded .task-expandable-hidden {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-block: 1em;
}

.task-expandable-hidden-content {
    overflow-y: hidden;
    grid-column: span 3;
    column-gap: inherit;

    display: grid;
    grid-template-columns: subgrid;
}

.btn-task {
    font-size: initial;
    font: inherit;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 1em 0;
}

.btn-task:hover, .btn-task:active {

    .task-title {
        color: var(--primary-color-1);
    }
}

.task-initial {
    opacity: 0;
    transform: translateY(-150%);
}