.tasks-sidebar {
    --sidebar-item-space: 2em;

    grid-column: 1/2;
    background-color: #fff;
    padding-block: 2em;

    box-shadow: 4px 0px 4px -2px #00000011;
}

.sidebar-list {

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: var(--sidebar-item-space);
}

.sidebar-list-item {
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;

    &:hover {
        background-color: var(--primary-color-a-1);
    }

    &:active {
        background-color: var(--primary-color-a-2);
    }
}

.sidebar-item-btn {
    grid-column: span 3;
    padding: .75em var(--sidebar-item-space);

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;

    align-items: center;
}

.sidebar-item-icon {
    width: 1em;
    aspect-ratio: 1/1;
    fill: var(--font-color-lighter);

    grid-column: 1/2;
}

.sidebar-item-text {
    grid-column: 2/3;
    text-align: start;
    white-space: nowrap;
}

.sidebar-item-number {
    grid-column: 3/4;
    font-size: 0.9em;
}

.selected-item {
    background-color: var(--primary-color-a-4);
    
    &:hover {
        background-color: var(--primary-color-a-3);
    }

    &:active {
        background-color: var(--primary-color-a-2);
    }

    & svg {
        fill: var(--primary-color-4);
    }

    .sidebar-item-text, .sidebar-item-number {
        color: var(--primary-color-4);
    }
}

