
.task-form {
    grid-column: span 3;
    column-gap: inherit;
    row-gap: .5em;

    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: subgrid;


}

.task-field {
    grid-column: span 3;

    display: grid;
    grid-template-columns: subgrid;
}

.field-upper-border {
    border-top: 1px solid #00000011;
    padding: 1em 0;
}


.task-form-icon {
    grid-column: 1/2;
    width: 1.5em;
    aspect-ratio: 1/1;
}

.task-form-icon > svg {
    width: 70%;
    height: 70%;
    fill: var(--font-color-light-3);

    transition: fill .25s;
}

.icon-tag > svg {
    width: 80%;
    height: 80%;
}

.icon-title {
    color: var(--font-color-light-3);
}

.task-form-label {
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: .5em;

    font-size: .9em;
    color: var(--font-color-lighter);

    position: relative;
}

.task-title-input {
    align-self: stretch;
}

.task-field-label-text {
    transition: color .25s;
}

.task-field:hover svg, .task-field:active svg {
    fill: var(--primary-color-1);
}

.task-field:hover .task-field-label-text, .task-field:active .task-field-label-text {
    color: var(--primary-color-1);
}

.task-form-controls {
    grid-column: span 3;
    grid-row: 4/5;
    padding-bottom: .5em;

    display: grid;
    grid-template-columns: subgrid;
    column-gap: inherit;
}

.task-form-controls {
    > input {
        grid-column: 3/4;
    }
}

.task-form-controls-extra {
    grid-column: span 2;

    display: flex;
    flex-direction: row;
}

