.text-input {
    appearance: none;
    border: 0;
    border-bottom: 2px solid transparent;
    font: inherit;
    color: var(--font-color-1);
    font-size: inherit;
    background-color: transparent;
    padding: .4em .3em;
}

.text-input:hover {
    border-bottom: 2px solid var(--primary-color-a-4);
}

.text-input:focus, .text-input:focus-visible {
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--primary-color-a-5);
}

input::placeholder {
    font-style: italic;
    font-size: .9em;
}
