.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2em;
    color: #fff;

    background-color: var(--primary-color-4);
}

.page-header-logo {
    height: var(--header-logo-height);
    fill: #fff;
}

.page-header-logo-link {
    padding-block: var(--header-logo-padding-block);
}

.page-nav {
    margin-left: auto;
}

.page-nav .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

.page-nav .nav-links li {
    margin: 0 1em;
}

.page-header-logo-link {
    display: flex;
}

.nav-link .btn-my-tasks {
    background-color: #fff;
    color: var(--primary-color-5);
    border-radius: .3em;
    padding: calc(var(--header-logo-padding-block) / 2) .9em;

}

.nav-link {
    transition: transform .15s, opacity .15s;

    &:hover {
        opacity: .9;
    }

    &:active {
        transform: translate(.1em, .1em);
    }
}