.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2em;

    background-color: #efefef;
}

.page-header-logo {
    height: var(--header-logo-height);
}

.page-header-logo-link {
    padding-block: var(--header-logo-padding-block);
}

.page-nav {
    margin-left: auto;
}

.page-nav .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

.page-nav .nav-links li {
    margin: 0 1em;
}

.page-header-logo path{
    fill: var(--font-color-1);
}

.page-header-logo-link {
    display: flex;
}

