/*
Color palette ideas

Idea 1:
#091540 deep navy
#7692ff cornflower blue
#abd2fa icy blue
#3d518c dusk blue
#1b2cc1 persian blue

Idea 2:
#919098 rosy granite
#897c80 ^
#ba8f95 rosy taupe
#cab6cd thistle
#cfbcdf ^

Idea3:
#495867 Blue slate
#577399 Glaucous
#bdd5ea Pale sky
#f7f7ff ghost white (neutral?)
#fe5f55 vibrant coral (accent?)
*/



:root {
    --font-color-1: #464646;
    --font-color-light: #616161;
    --font-color-lighter: #878787;
    --font-color-light-3: #a1a1a1;
    --font-color-light-4: #b1b1b1;
    --green-pastel-1: #7ab483;
    --green-pastel-2: #67aa71;
    --green-pastel-3: #519b5c;

    --primary-color-1: #7692ff;
    --primary-color-2: #5a76e9;
    --primary-color-3: #4967df;
    --primary-color-4: #3757d4;
    --primary-color-5: #2746c2;

    --input-color-disabled: #e8e8e8;
    --input-font-color-disabled: #77777d;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color-1);
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 2em;
}

p, ul, li {
    margin: 0;
}

.btn {
    margin: 0;
    border: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    border-radius: .4em;
    background-color: var(--primary-color-4);
    padding: .5em .75em;
    color: #fff;
    font-size: .9em;
    box-shadow: 0px .2em 0px 0px #00000033;

    transition: all .15s;
}

.btn-primary:hover {
    background-color: var(--primary-color-3);
}

.btn-primary:active {
    background-color: var(--primary-color-2);
    transform: translateY(.125em);
    box-shadow: 0px 0px 0px 0px var(--dark-grey-a);
}

.btn-primary:disabled {
    background-color: var(--input-color-disabled);
    color: var(--input-font-color-disabled);
    cursor:not-allowed;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    border: 0;
    margin: 0;
    padding: 0;
}

.author-note {
    font-style: italic;
    font-size: .9em;
}

label:not(.wip) {
    cursor: pointer;
}

