:root {
    --font-color-1: #343434;
    --font-color-light: #565656;
    --font-color-lighter: #878787;
    --font-color-light-3: #a1a1a1;
    --font-color-light-4: #b1b1b1;
    --green-pastel-1: #7ab483;
    --green-pastel-2: #67aa71;
    --green-pastel-3: #519b5c;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color-1);
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 2em;
}

p, ul, li {
    margin: 0;
}

.btn {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: .75em;
    background-color: transparent;
    cursor: pointer;
}

.btn-medium {
    padding: .5em .1em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}