.tasks-wrapper {
    --tasks-column-gap: 1em;
    display: grid;
    grid-template: 1fr / auto 1fr;
    /*column-gap: var(--tasks-column-gap);*/
    column-gap: 0;
    background-color: #f8f8f8;

    position: relative;

    &.tasks-wrapper-mobile {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 30em) {
    .tasks-wrapper {
        --tasks-column-gap: 2em;
    }
}